@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #000000;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #000000;
}
h3{
    font-size: 25px;
    color: #000000;
}
h4{
    font-size: 20px;
    color: #000000;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 20px;
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: relative;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.25s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #880808;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background:#880808;
    position: absolute;
    bottom: -4px;
    left: 20px;

}

.dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-item {
    padding: 8px 0;
  }
  
  .dropdown-item a {
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding: 6px 0;
    text-decoration: none;
  }
  
  .dropdown-item a:hover {
    color: #880808;
  }

  /* Responsive Styles */
@media screen and (max-width: 767px) {
    #navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 5px;
    }
  
    #navbar li {
      padding: 8px 13px;
    }

    #navbar li a.active::after{
        width: 40%;
        height: 2px;
        background:#880808;
        position: absolute;
        bottom: -1px;
        left: 15px;
}
  
    .dropdown {
      position: static;
    }

    .dropdown-content {
        position: static;
        display: block;
        box-shadow: none;
        padding: 10px 0;
      }
    
      .dropdown-content .dropdown-item {
        padding: 8px 20px;
      }
    
      .dropdown-content .dropdown-item a {
        font-size: 16px;
      }

      #navbar li a.active::after,
#navbar li a:hover::after{
    content: "";


}
    }

#footerid{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #000000;
    margin-top: 40px;
}

#cont1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 25px;
}

#cont1 h6{
    color: #ffffff;
    padding: 20px;
    font-size: 15px;
}

#cont1 a{
text-decoration: none;
}

#cont2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
}

#bio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#contribution{
    padding: 10px;
}

#contribution h6{
color: #ffffff;
font-size: 15px;
}

#contribution h5{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    }

#myphoto{
    padding: 10px;
}

#myphoto img{
border-radius: 50%;
}

#mail{
    padding: 10px;
}

#mail h6{
    color: #ffffff;
    font-size: 15px;
}

#mail h5{
    color: #ffffff;
    font-weight: 300;
    font-size: 15px;
}

#mail a{
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    #cont1 {
      flex-direction: row;
      align-items: flex-start;
    }

    #cont1 h6{
        padding: 10px;
        font-size: 15px;
    }
    
    #cont2 {
      flex-direction: column;
      align-items: center;
    }
  
    #bio {
      flex-direction: row;
      align-items: center;
    }

    #myphoto {
        order: -1;
      }
      
      #insta {
        padding-top: 20px;
      }
    }




